/*
Author: Hazel Apondi
Twitter: @apondihazel
Deep purple  #673AB7 
Grey #9E9E9E
*/


.carousel-caption h1 {
	font-family: cursive, 'Open Sans';
  	font-size: 20px;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.body {
	font-family: 'Open Sans', serif; 
}

#logo{
	font-size: 14px;
}

.footer{
	background-color: #335A79;
}